[href="#dumbass"] {
    color:rgb(255, 63, 63)
}

#lifirst {
    color:rgb(43, 45, 175)
}

#lisecond {
    color:rgb(0, 156, 26)
}

#lithird {
    color:blueviolet
}

.title {
    color:chocolate;
}

.main {
    color:rgb(90, 54, 0)
}

.link {
    color:dodgerblue
}